
body {
  font-family: "Montserrat";
}

#title{

  background-color: #565656;
}

.container-fluid {
  padding: 3% 15%;
}
.navbar-brand{
  font-size: 5rem;
}

h1 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;

}

h2{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}

p {
  font-size: 1rem;
  color: #8f8f8f;
  text-align: center;
  font-weight: bolder;
  font-weight: 600;
}


/* nav bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0%;
}




/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
}

/* Feature Section */
#features {
  padding: 7% 15%;
}

/* Feature box */
.feature-box {
  text-align: center;
  padding: 4.5%;
}
/* #pricing{
  background-color: #ff4c68;
} */
/* In CSS when you choose a class of any known common element such as
<i class="fas fa-crown fa-4x"></i>
if you ought to select any syntax such as "fas" or "fa-crown"
that you choose to style keep in mind that every recurring instance with those syntax
type will be altered which will make things easier but rather it is recommended
to add your own syntax in each in order to avoid complications as follows
<i class=" {anything} "fas fa-crown fa-4x"></i> therefore making it easier to manage. */
.center{
  text-align: center;
}
.icon {
color: #568374;
margin-bottom: 1rem;
}
/* This is a psuedo statement */
/* A color reaction happens when you hover the cursors on the said element */
.icon:hover{
  color: #ff4c68;
}
/* Testimonials Section */
#testimonials{
  text-align: center;
  background-color: #565656;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #568374;
  text-align: center;
  padding: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
